/* 
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
} 
*/

/* Animations */
@keyframes colorChanger {
  0% {
    color: var(--coder-gold);
  }
  25% {
    color: var(--coder-pink);
  }
  50% {
    color: var(--coder-red);
  }
  75% {
    color: var(--coder-secondary);
  }

  100% {
    color: var(--coder-gold);
  }
}

.myCoolText {
  animation-name: colorChanger;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-shadow: 1px 1px var(--coder-white);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* @keyframes object-colour-changer {
  0% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(0deg)
      brightness(118%) contrast(119%);
  }
  20% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(90deg)
      brightness(118%) contrast(119%);
  }
  40% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(180deg)
      brightness(118%) contrast(119%);
  }
  60% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(270deg)
      brightness(118%) contrast(119%);
  }
  100% {
    filter: invert(48%) sepia(29%) saturate(276%) hue-rotate(360deg)
      brightness(118%) contrast(119%);
  }
} */

@keyframes object-colour-changer {
  0% {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
      contrast(100%);
  }
  20% {
    filter: invert(20%) sepia(25%) saturate(20%) hue-rotate(90deg)
      brightness(100%) contrast(100%);
  }
  40% {
    filter: invert(40%) sepia(50%) saturate(40%) hue-rotate(180deg)
      brightness(100%) contrast(100%);
  }
  60% {
    filter: invert(60%) sepia(75%) saturate(60%) hue-rotate(270deg)
      brightness(100%) contrast(100%);
  }
  100% {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(360deg)
      brightness(100%) contrast(100%);
  }
}

.animate-object-colour-changer {
  animation-name: animate-object-colour-changer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animate-invert {
  0% {
    filter: invert(0%) brightness(100%) contrast(100%);
  }
  25% {
    filter: invert(0%) brightness(80%) contrast(80%);
  }
  50% {
    filter: invert(100%) brightness(100%) contrast(100%);
  }
  75% {
    filter: invert(100%) brightness(80%) contrast(80%);
  }
  100% {
    filter: invert(0%) brightness(100%) contrast(100%);
  }
}
.animate-invert {
  animation-name: animate-invert;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes animate-spaceship {
  0% {
    transform: translateX(-50rem) translateY(50rem) rotate(0deg) scale(0.2);
  }
  25% {
    transform: translateX(-30rem) translateY(20rem) rotate(0deg) scale(0.6);
  }
  50% {
    transform: translateX(-10rem) translateY(0rem) rotate(40deg) scale(0.9);
  }
  75% {
    transform: translateX(0rem) translateY(0em) rotate(50deg) scale(1.1);
  }
  100% {
    transform: translateX(0rem) translateY(0rem) rotate(0deg) scale(1);
  }
}
.animate-spaceship {
  animation-name: animate-spaceship;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate-spaceship {
  0% {
    transform: translateX(-50rem) translateY(50rem) rotate(0deg) scale(0.2);
  }
  25% {
    transform: translateX(-30rem) translateY(20rem) rotate(0deg) scale(0.6);
  }
  50% {
    transform: translateX(-10rem) translateY(0rem) rotate(40deg) scale(0.9);
  }
  75% {
    transform: translateX(0rem) translateY(0em) rotate(50deg) scale(1.1);
  }
  100% {
    transform: translateX(0rem) translateY(0rem) rotate(0deg) scale(1);
  }
}

.animate-bounce {
  animation-timing-function: cubic-bezier(0.4, 1.21, 0.83, 1.16);
}

@keyframes jelly {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.animate-jelly {
  animation: jelly 2s infinite;
}

@keyframes grow {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.99, 1.05);
  }
  50% {
    transform: scale(1.01, 0.95);
  }
  75% {
    transform: scale(0.99, 1.05);
  }
}

.animate-grow {
  animation: grow 2s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, 30%, 0) scale3d(0.7, 1.5, 1);
  }
  100% {
    transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1);
  }
}
.jump {
  transform-origin: 50% 50%;
  animation: jump 0.5s linear alternate infinite;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.animate-bounce-in {
  animation: bounce-in 3s ease infinite;
}

.animate-shake {
  animation: shake 10s ease infinite;
}

/* (A) FORCE ALL ITEMS INTO SINGLE ROW */
.ticker-move {
  display: flex;
  gap: 5rem;
}
.ticker-item {
  /* width: 100%; */
  flex-shrink: 0;
}
.ticker-wrap {
  overflow: hidden;
}

/* (B) MOVE ITEMS FROM RIGHT TO LEFT */
/* first item = 0, fourth item = -300% */
@keyframes ticker {
  0% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(-400%);
  }
}
.ticker-move {
  animation: ticker linear 30s infinite;
}
.ticker-move:hover {
  animation-play-state: paused;
}

.animate-traffic-light {
  animation: changeLight 1s infinite;
  width: 4rem;
  height: 10rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem;
  position: absolute;
  overflow: hidden;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 1s ease-in-out;
}
@keyframes changeLight {
  0%,
  100% {
    background-image: url("/images/Traffic_Light_One.png");
  }
  25% {
    background-image: url("/images/Traffic_Light_Two.png");
  }
  50% {
    background-image: url("/images/Traffic_Light_Three.png");
  }
  75% {
    background-image: url("/images/Traffic_Light_Four.png");
  }
}

/* 404 PAGE */
@-moz-keyframes rocket-movement {
  100% {
    -moz-transform: translate(1200px, -600px);
  }
}
@-webkit-keyframes rocket-movement {
  100% {
    -webkit-transform: translate(1200px, -600px);
  }
}
@keyframes rocket-movement {
  100% {
    transform: translate(1200px, -600px);
  }
}
@-moz-keyframes spin-earth {
  100% {
    -moz-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@-webkit-keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@-moz-keyframes move-astronaut {
  100% {
    -moz-transform: translate(-160px, -160px);
  }
}
@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
  }
}
@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
    transform: translate(-160px, -160px);
  }
}
@-moz-keyframes rotate-astronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

.spin-earth-on-hover {
  transition: ease 200s !important;
  transform: rotate(-3600deg) !important;
}

.bg-space {
  background: url("/images/coderdojo-bg-space.webp");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left top;
  /* height: 100%; */
  /* overflow: hidden; */
}

.central-body {
  height: 100%;
  padding: 17% 5% 10% 5%;
  text-align: center;
}
.central-body > a {
  text-decoration: none;
}

.objects img {
  z-index: 90;
  pointer-events: none;
}

.object_rocket {
  z-index: 95;
  position: absolute;
  transform: translateX(-50px);
  top: 75%;
  pointer-events: none;
  animation: rocket-movement 200s linear infinite both running;
}

.object_earth {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 90;
  animation: spin-earth 100s infinite linear both;
}

.object_astronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut {
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}

@media only screen and (max-width: 600px) {
  .box_astronaut {
    top: 70%;
  }

  .central-body {
    padding-top: 25%;
  }
}

@keyframes jump {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.animate-jump {
  animation: jump 5s infinite;
  animation-timing-function: linear;
}

.animate-heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.animate-roll-in-right {
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
}

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.animate-slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-out-left {
  -webkit-animation: slide-in-out-left 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
  animation: slide-in-out-left 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    both;
}

@-webkit-keyframes slide-in-out-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(1);
    transform: translateX(-1000px) scaleX(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(0) scaleX(-1);
    transform: translateX(0) scaleX(-1);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) scaleX(-1);
    transform: translateX(-1000px) scaleX(-1);
    opacity: 0;
  }
}
@keyframes slide-in-out-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateX(0);
    transform: translateX(0);

    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(0) scaleX(-1);
    transform: translateX(0) scaleX(-1);

    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) scaleX(-1);
    transform: translateX(-1000px) scaleX(-1);
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-14 19:16:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
