/* Animations */
@keyframes colorChanger {
  0% {
    color: var(--coder-main);
  }
  50% {
    color: var(--coder-accent);
  }
  100% {
    color: var(--coder-main);
  }
}

.myCoolText {
  animation-name: colorChanger;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* @keyframes object-colour-changer {
  0% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(0deg)
      brightness(118%) contrast(119%);
  }
  20% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(90deg)
      brightness(118%) contrast(119%);
  }
  40% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(180deg)
      brightness(118%) contrast(119%);
  }
  60% {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(270deg)
      brightness(118%) contrast(119%);
  }
  100% {
    filter: invert(48%) sepia(29%) saturate(276%) hue-rotate(360deg)
      brightness(118%) contrast(119%);
  }
} */

@keyframes object-colour-changer {
  0% {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
      contrast(100%);
  }
  20% {
    filter: invert(20%) sepia(25%) saturate(20%) hue-rotate(90deg)
      brightness(100%) contrast(100%);
  }
  40% {
    filter: invert(40%) sepia(50%) saturate(40%) hue-rotate(180deg)
      brightness(100%) contrast(100%);
  }
  60% {
    filter: invert(60%) sepia(75%) saturate(60%) hue-rotate(270deg)
      brightness(100%) contrast(100%);
  }
  100% {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(360deg)
      brightness(100%) contrast(100%);
  }
}

.animate-object-colour-changer {
  animation-name: animate-object-colour-changer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animate-invert {
  0% {
    filter: invert(0%) brightness(100%) contrast(100%);
  }
  25% {
    filter: invert(0%) brightness(80%) contrast(80%);
  }
  50% {
    filter: invert(100%) brightness(100%) contrast(100%);
  }
  75% {
    filter: invert(100%) brightness(80%) contrast(80%);
  }
  100% {
    filter: invert(0%) brightness(100%) contrast(100%);
  }
}
.animate-invert {
  animation-name: animate-invert;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes animate-spaceship {
  0% {
    transform: translateX(-50rem) translateY(50rem) rotate(0deg) scale(0.2);
  }
  25% {
    transform: translateX(-30rem) translateY(20rem) rotate(0deg) scale(0.6);
  }
  50% {
    transform: translateX(-10rem) translateY(0rem) rotate(40deg) scale(0.9);
  }
  75% {
    transform: translateX(0rem) translateY(0em) rotate(50deg) scale(1.1);
  }
  100% {
    transform: translateX(0rem) translateY(0rem) rotate(0deg) scale(1);
  }
}
.animate-spaceship {
  animation-name: animate-spaceship;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate-spaceship {
  0% {
    transform: translateX(-50rem) translateY(50rem) rotate(0deg) scale(0.2);
  }
  25% {
    transform: translateX(-30rem) translateY(20rem) rotate(0deg) scale(0.6);
  }
  50% {
    transform: translateX(-10rem) translateY(0rem) rotate(40deg) scale(0.9);
  }
  75% {
    transform: translateX(0rem) translateY(0em) rotate(50deg) scale(1.1);
  }
  100% {
    transform: translateX(0rem) translateY(0rem) rotate(0deg) scale(1);
  }
}

.animate-bounce {
  animation-timing-function: cubic-bezier(0.4, 1.21, 0.83, 1.16);
}

@keyframes jelly {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.animate-jelly {
  animation: jelly 0.5s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.animate-bounce-in {
  animation: bounce-in 3s ease infinite;
}

.animate-shake {
  animation: shake 2s ease infinite;
}

/* (A) FORCE ALL ITEMS INTO SINGLE ROW */
.ticker-move {
  display: flex;
  gap: 5rem;
}
.ticker-item {
  /* width: 100%; */
  flex-shrink: 0;
}
.ticker-wrap {
  overflow: hidden;
}

/* (B) MOVE ITEMS FROM RIGHT TO LEFT */
/* first item = 0, fourth item = -300% */
@keyframes ticker {
  0% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(-400%);
  }
}
.ticker-move {
  animation: ticker linear 30s infinite;
}
.ticker-move:hover {
  animation-play-state: paused;
}

.animate-traffic-light {
  animation: changeLight 1s infinite;
  width: 4rem;
  height: 10rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem;
  position: absolute;
  overflow: hidden;
  -webkit-transition: background-image 2s ease-in-out;
  transition: background-image 1s ease-in-out;
}
@keyframes changeLight {
  0%,
  100% {
    background-image: url("/images/Traffic_Light_One.png");
  }
  25% {
    background-image: url("/images/Traffic_Light_Two.png");
  }
  50% {
    background-image: url("/images/Traffic_Light_Three.png");
  }
  75% {
    background-image: url("/images/Traffic_Light_Four.png");
  }
}
