/* 
-------------
Colour Helper Classes 
Classes for changing the colour palette of an element.
-------------
 */
.colours-main {
  background-color: var(--coder-main);
  color: var(--coder-white);
}
.colours-main-grad {
  background-image: linear-gradient(
    to right bottom,
    var(--coder-main-dark),
    var(--coder-main-dark),
    var(--coder-main),
    var(--coder-main),
    var(--coder-main-light),
    var(--coder-main),
    var(--coder-main-dark),
    var(--coder-main-dark)
  );
  color: var(--coder-white);
}

.colours-main-light {
  background-color: var(--coder-main-light);
  color: var(--coder-white);
  /* note - using the CoderDojo light purple and the small white text, will fail a contrast accessibility */
  font-size: large;
}

.colours-main-dark {
  background-color: var(--coder-main-dark);
  color: var(--coder-white);
}

.colours-main-dark a {
  color: var(--coder-white);
}

.colours-secondary {
  background-color: var(--coder-secondary);
  color: var(--coder-black);
}

.colours-accent-white-grad {
  background-image: linear-gradient(
    to bottom,
    var(--coder-accent),
    var(--coder-secondary),
    var(--coder-secondary),
    var(--coder-secondary),
    var(--coder-secondary),
    var(--coder-secondary)
  );
  color: var(--coder-black);
}

.colours-secondary-grad {
  background-image: linear-gradient(
    to bottom,
    var(--coder-accent),
    var(--coder-accent),
    var(--coder-accent),
    var(--coder-secondary),
    var(--coder-secondary)
  );
  color: var(--coder-black);
}

.colours-accent {
  background-color: var(--coder-accent);
  color: var(--coder-white);
}
.colours-accent-grad {
  background-image: linear-gradient(
    to bottom,
    var(--coder-main),
    var(--coder-main),
    var(--coder-main),
    var(--coder-accent)
  );
  color: var(--coder-white);
}

.colours-leitrim {
  background-color: var(--coder-leitrim-green);
  color: var(--coder-leitrim-gold);
}

.colours-leitrim-grad {
  background-image: linear-gradient(
    to bottom,
    var(--coder-leitrim-green),
    var(--coder-leitrim-gold)
  );
  color: var(--coder-white);
}

.colours-slate-white {
  background-color: var(--coder-black-lighter);
  color: white;
}

.colours-pink-white {
  background-color: var(--coder-pink);
  color: white;
}

.colours-blue-white {
  background-color: var(--coder-blue);
  color: white;
}
.colours-green-white {
  background-color: var(--coder-leitrim-green);
  color: white;
}
.colours-red-white {
  background-color: var(--coder-red);
  color: white;
}
.colours-gold-white {
  background-color: var(--coder-leitrim-gold);
  color: white;
}
.colours-gold-red {
  background-color: var(--coder-leitrim-gold);
  color: var(--coder-red);
}

.colours-vibrant {
  background-color: lime;
  border-color: #57206f;
  color: darkorchid;
}

.colours-terminal {
  background-color: var(--coder-black-lighter);
  border-color: silver;
  color: #75ec21;
}

.colours-black-white {
  background-color: black;
  color: white;
}

.colours-white-black {
  background-color: white;
  color: black;
}

.colours-white-black a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}
