/* 
-------------
Colour Helper Classes 
Classes for changing the colour palette of an element.
-------------
 */
.colours-main {
  background-color: var(--coder-main);
  color: var(--coder-white);
}

.colours-main-dark {
  background-color: var(--coder-main-dark);
  color: var(--coder-white);
}

.colours-main-dark a {
  color: var(--coder-white);
}

.colours-accent {
  background-color: var(--coder-accent);
  color: var(--coder-white);
}

.colours-main-grad {
  background-image: linear-gradient(
    to right bottom,
    var(--coder-main-dark),
    var(--coder-main-dark),
    var(--coder-main),
    var(--coder-main),
    var(--coder-main-light),
    var(--coder-main),
    var(--coder-main-dark),
    var(--coder-main-dark)
  );
  color: var(--coder-white);
}

.colours-pink-white {
  background-color: var(--coder-pink);
  color: var(--coder-white);
}

.colours-coder-black-white {
  background-color: var(--coder-black-lighter);
  color: var(--coder-white);
}
.colours-coder-white-black {
  background-color: var(--coder-white);
  color: var(--coder-black-lighter);
}

.colours-black-white {
  background-color: black;
  color: white;
}

.colours-white-black {
  background-color: white;
  color: black;
}

.bg-changing-colours-dark {
  background-image: url("../images/animated-gradient-big-darker.svg");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-position: center;
}
