.form-submitted-feedback {
  flex: 1 1 0;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-color: var(--coder-main);
  justify-content: center;
  color: var(--coder-white);
  text-align: center;
  padding: 1rem;
}

.form-submitted-feedback img {
  display: block;
  width: 10rem;
  height: 10rem;
}

/* site wide form classes  */
.wrap-image-form {
  display: flex;
  gap: 1rem;
  height: auto;
}

.wrap-image-form form {
  flex: 1 1 0;
  width: 0;

  flex-direction: column;
  gap: 0.25rem;
  /* height: auto; */
  align-items: stretch;
  justify-content: space-between;
}

.wrap-image-form img {
  flex: 1 1 0;
  width: 0;
}

.wrap-image-form * {
  max-width: 100%;
}

@media (max-width: 480px) {
  .wrap-image-form {
    flex-direction: column;
  }
  .wrap-image-form form {
    width: 80vw;
    margin: auto;
  }

  .wrap-image-form img {
    width: 80vw;
    margin: 0 auto;
  }
}

.wrap-image-form label {
  padding: 0;
  font-weight: bold;
}

.wrap-image-form input {
  height: 2.5rem;
  line-height: 1.5rem;
  border: 0.1rem solid lightgray;
  border-radius: 2px;
}

.wrap-image-form select {
  height: 3rem;
  border: 0.1rem solid lightgray;
  background-color: white;
  border-radius: 2px;
}

.selected-message {
  display: none;
  background-color: var(--coder-main);
  color: var(--coder-white);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 10rem;
  border: 0.1rem solid lightgray;
  border-radius: 2px;
}

.wrap-image-form textarea {
  border: 0.1rem solid lightgray;
  border-radius: 2px;
}

.wrap-image-form .contact-us-button {
  background-color: var(--coder-main);
  color: var(--coder-white);
  width: 10rem;
  border-radius: 0.5rem;
}

.wrap-image-form .contact-us-button:hover {
  background-color: var(--coder-accent);
  color: var(--coder-white);
}

select[data-chosen="sub0"] ~ .sub0 {
  display: flex;
}
select[data-chosen="sub1"] ~ .sub1 {
  display: flex;
}
select[data-chosen="sub2"] ~ .sub2 {
  display: flex;
}
select[data-chosen="sub3"] ~ .sub3 {
  display: flex;
}
select[data-chosen="sub4"] ~ .sub4 {
  display: flex;
}
select[data-chosen="sub5"] ~ .sub5 {
  display: flex;
  background-color: darkred;
}
select[data-chosen="sub6"] ~ .sub6 {
  display: flex;
}
select[data-chosen="sub7"] ~ .sub7 {
  display: flex;
}

input:invalid {
  box-shadow: 0 0 5px 1px var(--coder-main);
}
