.no-overflow-clip {
  clip: rect(auto, auto, auto, auto);
}

.title {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
}

.rounded-small {
  border-radius: 0.5rem;
}

.rounded-left-small {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.rounded-right-small {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.shadow-small {
  --colour: var(--coder-main);
  box-shadow: var(--colour) 0 0.25rem 1rem;
}

.text-center {
  text-align: center;
}

.tilt-up {
  rotate: var(--rotation, -2deg);
  @media (min-width: 720px) {
    --rotation: -3deg;
  }
  @media (min-width: 960px) {
    --rotation: -4deg;
  }
}
.tilt-down {
  rotate: var(--rotation, 2deg);
  @media (min-width: 720px) {
    --rotation: 3deg;
  }
  @media (min-width: 960px) {
    --rotation: 4deg;
  }
}

/* padding  */
.pad-top {
  padding-top: 1rem;
}

.pad-bottom {
  padding-bottom: 1rem;
}
.pad-left {
  padding-left: 1rem;
}

.pad-right {
  padding-right: 1rem;
}

.pad-vertical {
  padding: 1rem 0;
}

.pad-horizontal {
  padding: 0 1rem;
}

.pad-all {
  padding: 1rem;
}
.pad-all-sm {
  padding: 0.2rem;
}

/* image sizes  */

.image-small {
  display: block;
  width: var(--width, 8rem);
  margin: 0 auto;

  @media (min-width: 720px) {
    --width: 10rem;
  }
  @media (min-width: 960px) {
    --width: 12rem;
  }
}

.image-medium {
  display: block;
  width: var(--width, 12rem);
  margin: 0 auto;

  @media (min-width: 720px) {
    --width: 15rem;
  }
  @media (min-width: 960px) {
    --width: 20rem;
  }
}
.table-responsive {
  padding: 0.25rem;
  width: 100%;
  border-collapse: collapse;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  text-align: left;
  font-size: 0.5rem;
  background-color: var(--coder-main);
  color: var(--coder-white);
}

.table-responsive tbody tr:nth-child(odd) {
  background-color: var(--coder-main-light);
}
.table-responsive tbody tr:first-child {
  background-color: var(--coder-main-dark);
  text-decoration: underline;
}

@media only screen and (min-width: 40em) {
  .table-responsive {
    display: table;
    font-size: 1rem;
  }
}
