/* ----------------------------------  */
/*      Our Default CSS File            */
/* ----------------------------------  */

/* 
    This is file is loaded by all our HTML pages
    - We will load all the css files for our site
    - We store are CSS variables in this file
    - We 'reset' the HTML, Body, Image and Box elements to ensure no browser specific styling affects our CSS
*/

@import "layout.css";
@import "colours.css";
@import "fonts.css";
@import "animations.css";
@import "helpers.css";
@import "shapes.css";

:root {
  --coder-main: #642580;
  --coder-main-light: #71458c;
  --coder-main-dark: #57206f;
  --coder-secondary: #41bac1;
  --coder-accent: #ed684a;
  --coder-accent-light: #f0836a;
  --coder-white: #f5f5f5;
  --coder-white-darker: #f8f9fa;
  --coder-white-dark: #e9ecef;
  --coder-black: #1a1a1a;
  --coder-black-light: #141414;
  --coder-black-lighter: #1f1f1f;
  --coder-gold: rgba(233, 199, 9, 0.878);
  --coder-leitrim-green: #4fc979;
  --coder-leitrim-gold: #ffd800;

  --coder-pink: #ed70b5;
  --coder-blue: #492994;
  --coder-red: #dc2f02;

  --coder-pink-grad: radial-gradient(
    at top left,
    var(--coder-pink),
    var(--coder-pink),
    var(--coder-main-light)
  );
  --coder-main-grad: radial-gradient(
    var(--coder-main-light),
    var(--coder-main)
  );
  --coder-main-grad-dark: radial-gradient(
    var(--coder-main),
    var(--coder-main-dark)
  );
  --coder-accent-grad: radial-gradient(var(--coder-red), var(--coder-accent));
  --coder-accent-grad-dark: radial-gradient(
    var(--coder-accent),
    var(--coder-red)
  );
}

/* We remove (reset) the margin and padding as this may be different across browsers  */
/* and we set it ourselves */
html,
body {
  background-color: var(--coder-main);
  color: var(--coder-white);
  font-family: ourMainText, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%;
}

/* The default value for box-sizing is content-box, which is what we are overriding here.  */
/* This is worth investigating why we do this and some of the history of css */
/* There is even an International Box Sizing Awareness Day */
/* https://css-tricks.com/international-box-sizing-awareness-day/ */
* {
  box-sizing: border-box;
}

/* We never want our images to expand beyond the available space */
/* If we disable this, some images on mobile screens may push beyond the size available  */
img {
  max-width: 100%;
}

/* We are removing the default colour and underline for links  */
/* We will have to manually turn it on to get the default browser behaviour  */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* --------------  */
/* --------------  */
/* ---to do -----  */
/* refactor below  */
/* --------------  */
/* --------------  */
