.signup-form {
  display: flex;
  gap: 0.2rem;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .signup-image {
    width: 80% !important;
    margin: 0 auto;
  }
}

.signup-image {
  width: 50%;
  border-radius: 15px;
}

.signup-button {
  padding: 2rem;
  background-color: var(--coder-accent);
  border-radius: 2rem;
  margin-top: 2rem;
}

.signup-button:hover {
  background-color: var(--coder-accent-light);
  text-decoration: underline;
}
