section {
  /* background-color: var(--coder-accent); */
}

.container {
  display: flex;
  flex-direction: column;
}

.content-image {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  height: 5vh;
  width: fit-content;
  text-decoration: none !important;
}

.logo-image {
  height: 5vh;
}
.logo-text {
  font-family: coderDojoBrandLogo;
  font-size: xx-large !important;
  color: var(--coder-black);
}

nav {
  background-color: white;
}

.navbar {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.mobile-hidden {
  display: none;
}

.mobile-nav-links {
  background-color: var(--coder-main-light) !important;
  border-bottom: 0.5rem solid var(--coder-main-dark);
  display: flex;
  flex-direction: column;
}

.mobile-nav-open {
  background-color: var(--coder-accent) !important;
  border-bottom: 0.5rem solid var(--coder-main-dark);
  display: flex;
  flex-direction: column;
}
