/* 
---------------------
Project Pages Classes
These are all specific to the project pages with the sidebar 
--------------------- 
*/

.project {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  background-color: var(--coder-main-light);
}

.project-sidebar {
  display: flex;
  flex-direction: column;
  width: 50rem;
  background-color: lime;
  /* width: 13vw; */
  padding: 1vw 1vw 0 1vw;
  /* position: fixed; */
  /* background-color: var(--coder-main-light); */
}

.project-sidebar a {
  /* padding: 0.4rem; */
  text-decoration: none;
  color: var(--coder-white);
  align-items: center;
}

.project-sidebar details > a {
  display: block;
}

.project-sidebar a:hover {
  color: var(--coder-secondary);
}

.project-content {
  display: flex;
  /* padding: 1vw; */
  /* margin: 1vw;
  margin-left: 15vw; */
  flex-direction: column;
  background-color: var(--coder-white);
  color: var(--coder-black);
}

.project-title {
  text-align: center;
  font-family: emphasis;
  font-size: x-large;
}

.project-section {
  display: flex;
  flex-direction: column;
  margin: 2vw 0;
  padding: 1vw;
  border: 0.2vw solid var(--coder-secondary);
}

.project-section-title {
  text-align: center;
  font-size: x-large;
  border-bottom: 0.2vw solid var(--coder-secondary);
  background-color: var(--coder-secondary);
}

.project-section p {
  display: flex;
  flex-direction: column;
}

.project-section p img {
  display: block;
  width: fit-content;
  margin: 0 auto;
  border: 0.2vw solid var(--coder-secondary);
}
