/* 
---------------------
Project Pages Classes
These are all specific to the project pages with the sidebar 
--------------------- 
*/

.project {
  display: flex;
  width: 100%;
  background-color: var(--coder-main-light);
}

.project-sidebar {
  display: flex;
  position: fixed;
  padding-top: 2rem;
  padding-left: 2rem;
  flex-direction: column;
  gap: 0.2rem;
  width: 20%;
  height: 100%;
}

@media (max-width: 480px) {
  .project-sidebar {
    display: none;
  }
}

.project-sidebar a {
  text-decoration: none;
  color: var(--coder-white);
  align-items: center;
}

.project-sidebar details > a {
  display: block;
  padding-left: 2rem;
}

.project-sidebar a:hover {
  color: var(--coder-secondary);
}

.project-content {
  margin-left: 20%;
  display: flex;
  width: 80%;
  align-content: space-between;
  height: 100%;
  padding: 0.5rem;
  flex-direction: column;
  background-color: var(--coder-white);
  color: var(--coder-black);
}

@media (max-width: 480px) {
  .project-content {
    width: 100%;
    margin-left: 0%;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
}

.project-section p {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.project-section p img {
  display: block;
  width: fit-content;
  margin: 0 auto;
  border: 0.2vw solid var(--coder-secondary);
}
