/* ----------------------------------------------  */
/* Containers, boxes and reusable components  */
/* ----------------------------------------------  */
/* These shapes and containers should all work responsively across screens */

/* 
Shapes and Containers:
  box-star  
  box-info
  box-speech
  box-link
  wrapper-image-speech
*/

.box-star {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1rem;
}

.box-star::after {
  background-image: url("../images/Star.png");
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  background-position: center;
  animation: jelly 1s infinite;
  width: 15rem;
  min-height: 5rem;
  padding-right: 1rem;
  display: inline-block;
  content: " ";
  vertical-align: middle;
}

@media only screen and (min-width: 720px) {
  .box-star {
    font-size: 1.5rem;
    line-height: 1.3rem;
    padding: 0 2rem;
  }
  .box-star::after {
    background-size: 7.5rem 7.5rem;
    width: 15rem;
    min-height: 7.5rem;
  }
}

@media only screen and (min-width: 960px) {
  .box-star {
    font-size: 1.8rem;
    line-height: 1.6rem;
    padding: 0 5rem;
  }
  .box-star::after {
    background-size: 10rem 10rem;
    width: 10rem;
    min-height: 10rem;
    padding: 0 2rem;
  }
}

.box-info {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-height: 2.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 3.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.9rem;
}

.box-info::before {
  background-image: url("../images/Circle_Girl.png");
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0.5rem;
  top: 0;
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: inline-block;
  content: " ";
}

@media only screen and (min-width: 720px) {
  .box-info {
    font-size: 0.9rem;
    line-height: 0.9rem;
    padding-left: 5rem;
    padding-right: 1rem;
  }
  .box-info::before {
    background-size: 3.5rem 3.5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

@media only screen and (min-width: 960px) {
  .box-info {
    font-size: 1rem;
    line-height: 1rem;
    padding-left: 6rem;
    min-height: 6rem;
  }
  .box-info::before {
    background-size: 5rem 5rem;
    min-width: 5rem;
    min-height: 5rem;
  }
}

/* Images and Speech Bubbles  */
.wrapper-image-speech {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  align-items: center;
  width: fit-content;
  max-width: 100%;
}
.wrapper-image-speech img {
  width: auto;
  height: 10rem;
}
.box-speech {
  width: 20rem;
  background: var(--coder-secondary);
  padding: 0.5rem;
  text-align: center;
  color: var(--coder-white);
  font-size: 0.75rem;
  line-height: 0.75rem;
  position: relative;
  border-radius: 0.25rem;
}

.box-speech::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid var(--coder-secondary);
  border-top: 0.75rem solid var(--coder-secondary);
  border-bottom: 0.75rem solid transparent;
  left: -1rem;
  top: 40%;
}

.box-speech-left:before {
  display: none;
}
.box-speech-left ~ img {
  transform: scaleX(-1);
}

.box-speech-left::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 0.75rem solid transparent;
  border-left: 0.75rem solid var(--coder-secondary);
  border-top: 0.75rem solid var(--coder-secondary);
  border-bottom: 0.75rem solid transparent;
  right: -1rem;
  top: 40%;
}

@media only screen and (min-width: 720px) {
  .wrapper-image-speech img {
    height: 15rem;
  }
  .box-speech {
    width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .box-speech::before {
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid var(--coder-secondary);
    border-top: 0.75rem solid var(--coder-secondary);
    border-bottom: 0.75rem solid transparent;
    left: -1rem;
    top: 20%;
  }
  .box-speech-left::after {
    border-right: 0.75rem solid transparent;
    border-left: 0.75rem solid var(--coder-secondary);
    border-top: 0.75rem solid var(--coder-secondary);
    border-bottom: 0.75rem solid transparent;
    right: -1rem;
    top: 25%;
  }
}

@media only screen and (min-width: 960px) {
  .wrapper-image-speech img {
    height: 15rem;
  }
  .box-speech {
    width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .box-speech::before {
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid var(--coder-secondary);
    border-top: 0.75rem solid var(--coder-secondary);
    border-bottom: 0.75rem solid transparent;
    left: -1rem;
    top: 20%;
  }
  .box-speech-left::after {
    border-right: 0.75rem solid transparent;
    border-left: 0.75rem solid var(--coder-secondary);
    border-top: 0.75rem solid var(--coder-secondary);
    border-bottom: 0.75rem solid transparent;
    right: -1rem;
    top: 25%;
  }
}

.box-link {
  border-radius: 0.5rem;
  max-width: 20rem;
  font-size: 1rem;
  line-height: 1rem;
  overflow: hidden;
}
.box-link a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  max-width: 20rem;
  min-height: 10rem;
}

.box-link img {
  display: inline-block;
  margin: 0 auto;
  max-width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
}
.box-link article {
  max-width: 20rem;
  height: 10rem;
  text-align: center;
  padding: 0.5rem;
  vertical-align: top;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
  .box-link {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .box-link a {
    max-width: 20rem;
    min-height: 20rem;
  }

  .box-link img {
    margin: 0 auto;
    max-width: 8rem;
    min-height: 8rem;
    margin: 1rem auto;
  }
  .box-link article {
    max-width: 20rem;
    height: 10rem;
    padding: 0.5rem;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .box-link {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .box-linka {
    max-width: 20rem;
    min-height: 20rem;
  }

  .box-link img {
    margin: 0 auto;
    max-width: 8rem;
    min-height: 8rem;
    margin: 1rem auto;
  }
  .box-link article {
    max-width: 20rem;
    min-height: 10rem;
    padding: 0.5rem;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  .box-link {
    font-size: 1rem;
    line-height: 1rem;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  .box-link {
    font-size: 1rem;
    line-height: 1rem;
  }
}
