@import "css/colours.css";
@import "css/fonts.css";
@import "css/animations.css";
@import "css/helpers.css";
@import "css/shapes.css";

:root {
  --coder-main: #642580;
  --coder-main-light: #71458c;
  --coder-main-dark: #57206f;
  --coder-secondary: #41bac1;
  --coder-accent: #ed684a;
  --coder-accent-light: #f0836a;
  --coder-white: #f5f5f5;
  --coder-white-darker: #f8f9fa;
  --coder-white-dark: #e9ecef;
  --coder-black: #1a1a1a;
  --coder-black-light: #141414;
  --coder-black-lighter: #1f1f1f;
  --coder-gold: rgba(233, 199, 9, 0.878);
  --coder-leitrim-green: #4fc979;
  --coder-leitrim-gold: #ffd800;

  --coder-pink: #ed70b5;
  --coder-blue: #492994;
  --coder-red: #dc2f02;

  --coder-pink-grad: radial-gradient(
    at top left,
    var(--coder-pink),
    var(--coder-pink),
    var(--coder-main-light)
  );
  --coder-main-grad: radial-gradient(
    var(--coder-main-light),
    var(--coder-main)
  );
  --coder-main-grad-dark: radial-gradient(
    var(--coder-main),
    var(--coder-main-dark)
  );
  --coder-accent-grad: radial-gradient(var(--coder-red), var(--coder-accent));
  --coder-accent-grad-dark: radial-gradient(
    var(--coder-accent),
    var(--coder-red)
  );
}

/* Our Website Setup */
/* These settings will affect all our pages */

/* We set our main colour scheme and font */
/* We set more specific rules on elements if we do not want to use these */

/* We remove (reset) the margin and padding as this may be different across browsers  */
/* and we set it ourselves */
html,
body {
  background-color: var(--coder-main);
  color: var(--coder-white);
  font-family: ourMainText, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%;
}

/* The default value for box-sizing is content-box, which is what we are overriding here.  */
/* This is worth investigating why we do this and some of the history of css */
/* There is even an International Box Sizing Awareness Day */
/* https://css-tricks.com/international-box-sizing-awareness-day/ */
* {
  box-sizing: border-box;
}

/* We never want our images to expand beyond the available space */
/* If you disable this, some images on mobile screens particularly, will push beyond the size available  */
img {
  max-width: 100%;
}

/* We are going to remove the default are removing the default colour and underline for links  */
/* We will have to manually turn it on to get the default browser behaviour  */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

blockquote {
  color: var(--coder-white);
  background: var(--coder-main-dark);
  border-left: 10px solid var(--coder-accent);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--coder-main-light);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.75em;
}
blockquote p cite {
  display: inline;
}

/* This is where the content for each specific page will go. */
/* By making our main section a flex container, it will be responsive. */
main {
  display: flex;
  flex-direction: column;
}

.main-with-aside {
  display: grid;
  grid-template-columns: 0.2em 1fr 0.2em;
  grid-template-areas:
    ". aside ."
    ". main .";
}

.main-with-aside aside {
  grid-area: aside;
  background-color: #ed70b5;
}

.main-with-aside main {
  grid-area: main;
  background-color: #41bac1;
}

@media only screen and (min-width: 40em) {
}

@media only screen and (min-width: 48em) {
}

@media only screen and (min-width: 64em) {
  .main-with-aside {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "aside main";
  }
}

@media only screen and (min-width: 80em) {
  .main-with-aside {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "aside  main ";
  }
}

section {
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 720px) {
  .wrapper {
    max-width: 80%;
  }
}

@media only screen and (min-width: 960px) {
  .wrapper {
    max-width: 70%;
  }
}

.columns {
  --min-column-size: 12rem;
  --column-count: 3;
  --gap: 2rem;
  --align: center;
  --justify: center;

  --breakpoint: calc(
    var(--min-column-size) * var(--column-count) +
      (var(--gap) * (var(--column-count) - 1))
  );
  --column-size: calc((100% / var(--column-count)) - var(--gap));

  display: grid;
  align-items: var(--align);
  justify-content: var(--justify);
  gap: var(--gap);

  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(max(var(--column-size), (100% - var(--breakpoint)) * -999), 100%),
      1fr
    )
  );
}

.cols-2 {
  --min-column-size: 200px;
  --column-count: 2;
  --gap: 0.5rem;

  --breakpoint: calc(
    var(--min-column-size) * var(--column-count) +
      (var(--gap) * (var(--column-count) - 1))
  );
  --column-size: calc((100% / var(--column-count)) - var(--gap));

  display: grid;
  align-items: center;
  gap: var(--gap);

  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(max(var(--column-size), (100% - var(--breakpoint)) * -999), 100%),
      1fr
    )
  );
}

/* Alert modal  */
.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.popup-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 10rem auto;
  padding: 20px;
  background: var(--coder-main);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--coder-white);
}
.popup .close:hover {
  color: #06d85f;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}

/* ----------------------------------  */
/* This is all the parts of our Navigation  */
/* ----------------------------------  */
nav {
  width: 100%;
  height: 5rem;
  background-color: var(--coder-main-light);
}

.mobile-nav {
  z-index: 100;
  display: none;
  overflow: hidden;
  background-color: var(--coder-main-light);
}

.mobile-nav a {
  float: left;
  display: block;
  color: var(--coder-white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mobile-nav a:hover {
  background-color: #ddd;
  color: black;
}

.mobile-nav a.active {
  background-color: var(--coder-main);
  color: white;
}

.mobile-nav a.icon {
  float: right;
  display: block;
}

.mobile-nav.open {
  display: block;
  position: relative;
}

.mobile-nav.open a {
  float: none;
  display: block;
  text-align: left;
}

.nav-bar {
  max-width: 90%;
  height: 5rem;
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo mobile";
}

.navbar-mobile-icon {
  grid-area: mobile;
  margin-left: auto;
}
.navbar-mobile-icon img {
  height: 2.5rem;
  width: 2.5rem;
}

.navbar-logo {
  grid-area: logo;
}
.navbar-links {
  background-color: var(--coder-main-light);
  height: 5rem;
  grid-area: links;
  display: none;
  align-items: center;
  justify-content: flex-start;
}

.navbar-links::before {
  background-image: url("../images/nav-curve.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  width: 5rem;
  display: block;
  content: " ";
  vertical-align: middle;
}

.navbar-links a {
  color: var(--coder-white);
  text-decoration: none;
  box-shadow: 0px 5px var(--coder-main-light);
  transition: box-shadow 0.6s linear;
  margin: 0.5em;
}

.navbar-links a:hover {
  box-shadow: 0px 10px var(--coder-accent);
}

.navbar-links a.active {
  color: var(--coder-accent);
  box-shadow: 0px 10px var(--coder-accent);
}

.navbar-button {
  grid-area: button;
  background-color: var(--coder-main-light);
  display: none;
}
.navbar-button > a {
  background-color: var(--coder-white);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2.5rem;
  padding: 0.2rem;
  border: 0.2rem solid var(--coder-main-dark);
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: large;
}
.navbar-button > a:hover {
  border: 0.2rem solid var(--coder-secondary);
}

.navbar-button > a > img {
  height: 2.5rem;
  margin-right: 0.2rem;
}

@media only screen and (min-width: 720px) {
  nav {
    background-image: linear-gradient(
      to right,
      var(--coder-white),
      var(--coder-white),
      var(--coder-white),
      var(--coder-main-light),
      var(--coder-main-light)
    );
  }
  .nav-bar {
    max-width: 90%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "logo links button";
  }
  .navbar-links {
    display: flex;
    font-size: smaller;
  }
  .navbar-button {
    display: block;
  }
  .navbar-mobile-icon {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  nav {
    background-image: linear-gradient(
      to right,
      var(--coder-white),
      var(--coder-white),
      var(--coder-white),
      var(--coder-main-light),
      var(--coder-main-light),
      var(--coder-main-light)
    );
  }
  .nav-bar {
    max-width: 70%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "logo links button";
  }
  .navbar-links {
    display: flex;
    font-size: larger;
  }
  .navbar-button {
    display: block;
  }
  .navbar-mobile-icon {
    display: none;
  }
}

/* ----------------------------------  */
/* This is all the parts of our footer  */
/* ----------------------------------  */
footer {
  background-color: var(--coder-black);
  color: var(--coder-white);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Inside the footer is a CSS grid */
/* It should be responsive across small, medium and large screens */
/* It is mobile first, meaning it is written for mobile and media queries deal with larger screens */
.footer-content {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.2rem 1fr 0.2rem;
  gap: 1rem;
  grid-template-areas:
    ". footer-social ."
    ". footer-links ."
    ". footer-foundation ."
    ". footer-licence ."
    ". footer-about .";
}

.footer-links {
  grid-area: footer-links;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.footer-links > div {
  display: flex;
  flex-direction: column;
}

.footer-links h3 {
  font-weight: bolder;
  /* color: var(--coder-secondary); */
  border-bottom: 0.1rem solid var(--coder-white);
  font-size: smaller;
  margin: 0.2rem 0;
}
.footer-links a {
  color: var(--coder-white);
  font-size: small;
  text-decoration: none;
}
.footer-links a:hover {
  color: var(--coder-accent);
}

.footer-social {
  grid-area: footer-social;
  display: flex;

  justify-content: center;
  gap: 1rem;
  margin: auto;
}
.footer-social a {
  background-color: var(--coder-main);
  padding: 1rem;
  border-radius: 100%;
  border: 0.2rem solid var(--coder-white);
}
.footer-social a:hover {
  background-color: var(--coder-main-dark);
  padding: 1rem;
  border-radius: 100%;
  border: 0.2rem solid var(--coder-secondary);
}

.footer-foundation {
  grid-area: footer-foundation;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.1rem solid white;
  border-radius: 0.25rem;
  text-align: center;
  margin: 1rem;
}

.footer-licence {
  grid-area: footer-licence;
  font-size: smaller;
}

.footer-about {
  grid-area: footer-about;
  font-size: small;
}

@media only screen and (min-width: 720px) {
  .footer-content {
    max-width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "footer-links footer-social"
      "footer-links footer-foundation"
      "footer-licence footer-licence"
      "footer-about  footer-about";
  }
  .footer-links {
    /* flex-direction: row; */
  }
}

@media only screen and (min-width: 960px) {
  .footer-content {
    max-width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "footer-links footer-links footer-social"
      "footer-links footer-links footer-foundation"
      "footer-licence footer-licence footer-foundation"
      "footer-about footer-about footer-foundation";
  }
  .footer-links {
    flex-direction: row;
  }
}

/* ----------------------  */
/* Our Site Logo  */
/* ----------------------  */
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  height: 5rem;
  width: fit-content;
  margin: 0 0.5rem;
  text-decoration: none;
}

.navbar-logo:hover .logo-image {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.logo-image {
  height: 2.5rem;
  width: 2.5rem;
}
.logo-text {
  font-family: coderDojoBrandLogo;
  font-size: 2.5rem;
}

@media only screen and (min-width: 720px) {
  .logo-text {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 960px) {
  .logo-text {
    font-size: 2.5rem;
  }
}

/* ----------------------  */
/* page heading  */
/* ----------------------  */
.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  background-color: darkred;
  text-align: center;
  height: 4rem;
  font-size: small;
}

.page-heading a {
  color: var(--coder-white);
}

@media only screen and (min-width: 720px) {
  .page-heading {
    height: 2.5rem;
    font-size: smaller;
  }
}

@media only screen and (min-width: 960px) {
  .page-heading {
    height: 1.5rem;
    font-size: medium;
  }
}

/* --------------  */
/* --------------  */
/* ---to do -----  */
/* refactor below  */
/* --------------  */
/* --------------  */

#ninjas {
  padding-top: 10rem;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

#ninjas > img {
  width: calc(100vw / 11);
  margin-left: -3rem;
}
@media (max-width: 480px) {
  #ninjas > img {
    width: 12vw;
    margin-left: -3vw;
  }
}

.fancy-background {
  background-image: url("/images/animated-gradient-big.svg");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-position: center;
}
.fancy-background-darker {
  background-image: url("/images/animated-gradient-big-darker.svg");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-position: center;
}
