@import "css/fonts.css";
@import "css/animations.css";

@import url("/css/large-screen.css") only screen and (min-width: 768px);
@import url("/css/mobile-screen.css") only screen and (max-width: 480px);

:root {
  --coder-main: #642580;
  --coder-main-light: #9537be;
  --coder-main-dark: #57206f;
  --coder-secondary: #41bac1;
  --coder-accent: #ed684a;
  --coder-accent-light: #f0836a;
  --coder-white: rgb(245, 245, 245);
  --coder-black: rgb(26, 26, 26);
}

/* helpers */
.bg-main {
  background-color: var(--coder-main);
}

.bg-main-light {
  background-color: var(--coder-main-light);
}

.bg-main-dark {
  background-color: var(--coder-main-dark);
  color: var(--coder-white);
}

.bg-main-dark a {
  color: var(--coder-white);
}

.bg-secondary {
  background-color: var(--coder-secondary);
}

.bg-accent {
  background-color: var(--coder-accent);
}

html,
body {
  background-color: var(--coder-main);
  color: var(--coder-white);
  font-family: ourMainText, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  height: max-content;
  flex-direction: column;
}

button a {
  text-decoration: none;
  cursor: pointer;
}

/* Home Page */
.call-to-action {
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.button-action {
  display: block;
  border-radius: 90px;
  border: 0.5vw solid var(--coder-main);
  background-color: var(--coder-secondary);
  font-size: x-large;
  font-weight: 800;
  padding: 20px;
}

.button-action:hover {
  border: 0.5vw solid var(--coder-accent);
}

/* .sponsors-list {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.sponsor-logo {
  background-color: white;
  height: 50%;
  border-radius: 10px;
  padding: 5px;
} */

.hero {
  display: flex;
  color: white;
  align-self: center;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-size: larger;
}

.hero-right {
  display: flex;
}

.button {
}
