@import "css/fonts.css";
@import "css/animations.css";

/* @import "css/nav.css"; */

@import url("/css/large-screen.css") only screen and (min-width: 768px);
@import url("/css/mobile-screen.css") only screen and (max-width: 480px);

:root {
  --coder-main: #642580;
  --coder-main-light: #9537be;
  --coder-main-dark: #57206f;
  --coder-secondary: #41bac1;
  --coder-accent: #ed684a;
  --coder-accent-light: #f0836a;
  --coder-white: rgb(245, 245, 245);
  --coder-black: rgb(26, 26, 26);
}

html,
body {
  background-color: var(--coder-main);
  font-family: ourMainText, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  height: max-content;
  flex-direction: column;
  /* margin-top: 10vh; */
}

footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  color: var(--coder-white);
  background-color: #1a1a1a;
  /* height: 20vh; */
  min-height: 20vh;
}

button a {
  text-decoration: none;
  cursor: pointer;
}

/* Home Page */

.call-to-action {
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.button-action {
  display: block;
  border-radius: 90px;
  border: 0.5vw solid var(--coder-main);
  background-color: var(--coder-secondary);
  font-size: x-large;
  font-weight: 800;
  padding: 20px;
}

.button-action:hover {
  border: 0.5vw solid var(--coder-accent);
}

.sponsors-list {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.sponsor-logo {
  background-color: white;
  height: 50%;
  border-radius: 10px;
  padding: 5px;
}

.hero {
  display: flex;
  color: white;
  align-self: center;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-size: larger;
}

.hero-right {
  display: flex;
}

.button {
}

/* Mentors Page  */
.mentor-signup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--coder-secondary);
  padding: 1rem;
  border-radius: 10px;
}

.mentor-info {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}

.mentor-image {
  width: 20vw;
  background-color: var(--coder-main);
  border-radius: 2vw;
}

.mentor-form {
  display: flex;
  gap: 2vw;
}

.signup-form {
  display: flex;
  gap: 0.2rem;
  width: 50%;
  flex-direction: column;
}

.signup-image {
  display: flex;
  width: 50%;
  border-radius: 15px;
}

.signup-button {
  padding: 1rem;
  background-color: var(--coder-accent);
  margin-top: 2rem;
}

.signup-button:hover {
  background-color: var(--coder-accent-light);
  text-decoration: underline;
}
